body, html {
   height:100%;
   width:100%;
}
#hub {
   height:100%;
   width:100%;
}
#startBTN {
    transition:all 1s;
    border-radius:5px;
    position:absolute;
    top:150%;
    left:45%;
    width:10%;
    background:#ff6a00;
    border:none;
    padding:2% 0;
}
    #startBTN:active {
        opacity:.7;
    }
#startBTN_full {
    border-radius:5px;
    transition:all 500ms;
    position:absolute;
    top:40%;
    left:45%;
    width:10%;
    background:#ff6a00;
    border:none;
    padding:2% 0;
}
    #startBTN_full:active {
        opacity:.7;
    }
.ldScrn {
    transition:all 500ms;
    background:black;
    position:absolute;
    color:#fff;
    top:100vh;
    left:0;
    text-align:center;
    line-height:100vh;
    width:100%;
    z-index:100;
}
.ldScrn_full {
    transition:all 500ms;
    background:black;
    position:absolute;
    color:#fff;
    top:0;
    left:0;
    text-align:center;
    line-height:100vh;
    width:100%;
    z-index:100;

}
.ldGif {
    transition:all 500ms;
    background-image: url('../images/page-loader.gif');
    background-size:310px 310px;
    position:relative;
    width:310px;
    height:310px;
    background-position:center;
    background-repeat:no-repeat;
    margin:-100% auto;
    z-index:100;
}
.ldGif_full {
    transition:all 500ms;
    background-image: url('../images/page-loader.gif');
    background-size:50px 50px;
    position:relative;
    width:50px;
    height:50px;
    margin:40% auto;
    background-position:center;
    background-repeat:no-repeat;
    z-index:100;
}
#delBTN, #capBTN {
    float:left;
}

.specialClass {
    position:fixed;
    bottom:0;
    z-index:98;
}

.myMenu {
    clear:both;

    width:100%;
}
    .myMenu span {

        width:10%;
        display:inline-block;
        text-align:center;
        padding:5px 0;
    }
.unicorn {
    background-image: url('../images/assets/horse0.png');
    background-size: 235px 200px ;
    width:235px;
    height:200px;
    position:absolute;
    bottom:100%;
}
.unicorn_full {
    transition:1s all;
    background-image: url('../images/assets/horse0.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_0 {

    background-image: url('../images/assets/horse0.png');
    background-size: 259px 196px ;
    background-repeat:no-repeat;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_1 {

    background-image: url('../images/assets/horse1.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_2 {

    background-image: url('../images/assets/horse2.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_3 {

    background-image: url('../images/assets/horse3.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_4 {

    background-image: url('../images/assets/horse4.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_5 {

    background-image: url('../images/assets/horse5.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_6 {

    background-image: url('../images/assets/horse6.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_7 {

    background-image: url('../images/assets/horse7.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_8 {

    background-image: url('../images/assets/horse8.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}
.unicorn_9 {

    background-image: url('../images/assets/horse9.png');
    background-repeat:no-repeat;
    background-size: 259px 196px ;
    width:259px;
    height:196px;
    position:absolute;
    bottom:10%;
}

.road {
    background-image: url('../images/assets/road.jpg');
    background-size:auto 100%;
    position: absolute;

    width: 150%;
    height: 10%;
    overflow: hidden;
    bottom: 5%;
}